/*  your css code here. If applicable */
body{
font-family: Arial;
text-align:center;
background:#eee;
}

.container{
width:500px;
margin:auto;
padding:20px;
}

h1{
font-size:40px;
}

input{
padding:10px;
margin:10px;
width:200px;
}

button{
padding:10px 30px;
font-size:18px;
cursor:pointer;
}

.message{
font-size:22px;
margin:20px;
}

.board{
display:grid;
grid-template-columns:repeat(3,100px);
grid-template-rows:repeat(3,100px);
justify-content:center;
}

.cell{
border:2px solid black;
font-size:40px;
display:flex;
align-items:center;
justify-content:center;
background:#f4b6c2;
cursor:pointer;
}